body {
    background: url(../img/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    /* Adjust the alpha value for transparency */
    z-index: 1;
    /* Ensure the overlay is above the background */
}

#container {
    position: fixed;
    width: 1000px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.player {
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 3px;
    background-color: rgba(25, 0, 140, 0.5);
    /* Semi-transparent  */
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5), 0 0 35px rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 25px rgba(255, 0, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
    }
}

.player h1 {
    font-family: 'Casino Flat', sans-serif;
    color: white;
    font-size: 25px;
}

.player input[type="text"] {
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(25, 0, 140, 1);
    text-align: center;
}

#game_settings {
    float: left;
    margin: 5px;
}

#set_dice_count,
#set_turns_count {
    height: 128px;
    padding: 18px;
    width: 200px;
    margin-bottom: 10px;
    border: none;
    /* Remove the original border */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Required for the pseudo-element */
    background-color: rgba(25, 0, 140, 0.5);
    /* Semi-transparent white */
}

#set_dice_count,
#set_turns_count h1 {
    font-family: 'Casino Flat', sans-serif;
    color: white;
}


/* Glass background effect */

#set_dice_count::before,
#set_turns_count::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5), 0 0 35px rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 25px rgba(255, 0, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
    }
}

#submit {
    width: 98%;
    height: 40px;
    background-color: white;
    font-family: 'Casino Flat', sans-serif;
    font-size: 25px;
    color: rgba(25, 0, 140, 1);
    border: none;
}

.container2 {
    position: fixed;
    width: 945px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

#wrapper {
    margin: 0 auto;
    width: 850px;
}

.number {
    font-size: 50px;
    font-family: 'Casino Flat', sans-serif;
    color: white;
    font-weight: bold;
}

.name {
    font-family: 'Casino Flat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

#button {
    text-align: center;
}

#round {
    text-align: center;
    width: 89%;
    font-size: 30px;
    background-color: rgba(25, 0, 140, 0.5);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    position: relative;
    font-family: 'Casino Flat', sans-serif;
    color: white;
}

#round:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

.header {
    margin: 100px auto 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#button-roll {
    width: 99%;
    height: 40px;
    margin-top: 5px;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin-bottom: 5px;
    font-family: 'Casino Flat', sans-serif;
    font-size: 25px;
    color: rgba(25, 0, 140, 1);
}

.playerg {
    margin: 5px;
    width: 250px;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(25, 0, 140, 0.5);
    position: relative;
}

.playerg:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5), 0 0 35px rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 25px rgba(255, 0, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
    }
}

.header h1 {
    font-family: 'Casino Flat', sans-serif;
    color: white;
    font-size: 50px;
}

#animationId{
    height: 50px;
    position: absolute;
    margin: 0;
    padding: 0;
}



.containerRes {
    position: fixed;
    width: 945px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.wrapperRes {
    margin: 0 auto;
    width: 850px;
    margin-top: 50px;
}

.pWinner {
    margin: 5px;
    width: 250px;
    height: 400px;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(25, 0, 140, 0.5);
    position: relative;
}

.pSecond {
    margin: 5px;
    width: 250px;
    height: 350px;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(25, 0, 140, 0.5);
    position: relative;
}

.pThird {
    margin: 5px;
    width: 250px;
    height: 250px;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(25, 0, 140, 0.5);
    position: relative;
}

.pWinner:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

.pSecond:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}
.pThird:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    /* Adjust the radius as needed */
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: -1;
    animation: neon-glow 1.5s infinite alternate;
}

#containerFireWorks{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}